<table class="table" *ngIf="payments.length>0">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">MM</th>
            <th scope="col">AAAA</th>
            <th scope="col">CVC</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <th scope="row">{{payment.number}}</th>
            <td>{{payment.month}}</td>
            <td>{{payment.year}}</td>
            <td>{{payment.cvc}}</td>
            <td>{{payment.name}}</td>
            <td><button class="btn btn-danger" (click)="deletePayment(payment)">Delete</button></td>
        </tr>
    </tbody>
</table>