<table class="table" *ngIf="passengers.length>0">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let passenger of passengers">
            <th scope="row">{{passenger.firstName}}</th>
            <td>{{passenger.lastName}}</td>
            <td>{{passenger.dateBirth|date}}</td>
            <td><button class="btn btn-danger" (click)="deletePassenger(passenger)">Delete</button></td>
        </tr>
    </tbody>
</table>