<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <h5>Flights</h5>
            <div class="form-row ">
                <div class="col-12 col-md-12">
                    <app-flight-list></app-flight-list>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5>Passengers</h5>
            <div class="form-row">
                <div class="col-12 col-md-12">
                    <app-passenger-list></app-passenger-list>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5>Details Card</h5>
            <div class="col-12 col-md-12">
                <app-payment-list></app-payment-list>
            </div>
        </div>
    </div>
</div>